<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' type='text/css'
          media='screen'
          href="{{ url_for('static',
    	filename='css/main.css') }}">
</head>

<body>

<h1>HOUSE PRICE PREDICTION</h1>
<form action="{{url_for('predict')}}" method="POST">
    OverallQual: <input type="number" name='OverallQual'
                        placeholder="Rates the overall material and finish of the house"><br>
    YrSold: <input type="number" name='YrSold'
                   placeholder="Year Sold (YYYY)"><br>
    YearBuilt: <input type="number" name='YearBuilt'
                      placeholder="Original construction date"><br>
    YearRemodAdd: <input type="number" name='YearRemodAdd'
                      placeholder="Remodel date (same as construction date if no remodeling or additions)"><br>
    1stFlrSF: <input type="number" name='1stFlrSF'
                     placeholder="First Floor square feet"><br>
    2ndFlrSF: <input type="number" name='2ndFlrSF'
                     placeholder="Second floor square feet"><br>
    TotRmsAbvGrds: <input type="number" name='TotRmsAbvGrd'
                          placeholder="Total rooms above grade (does not include bathrooms)"><br>
    GarageCars: <input type="number" name='GarageCars'
                       placeholder="Size of garage in car capacity"><br>
    Fireplaces: <input type="number" name='Fireplaces'
                       placeholder="Number of fireplaces"><br>
    <input type="submit" value="predict" class="submit">
</form>
<p> House Price is: {{data}}</p>

</body>
</html>